* {
body {
    background-image: url('img/fondo.png'); 
    background-repeat: repeat-x repeat-y ;
    
    
    /* La fuente es Barlow  */
    @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400&display=swap' );
    font-family: 'Barlow', sans-serif;
    font-size: 32px; 
    margin: 0;
    padding: 0;
};
h1 {
    text-align: center;
    color:aliceblue
}
p {
    text-align: justify;
    margin: 5px;}
    background-color: rgb(5, 128, 2);
}
